
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body>#main1>section:first-child{
    margin: 0;
    position: absolute;
    left: 50px;
    top: -80px;


}




.logosize{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
section{
    background: black;
}
main>section>nav>a>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    right: -200px;
    top: 100px;

}
#h61{
    text-align: center;
    color: white;


}
#h11{
    margin: 0;
}
body{
    background: black;
}
#button2{
    background:
            linear-gradient(#000000, #000000) padding-box,
            linear-gradient(60deg, #135DEC, #8914C0, #7C0B86) border-box;
    color: #ffffff;
    padding: 6px 70px;
    border: 3px solid transparent;
    border-radius: 40px;
    display: inline-block;
    font-size: 18px;
    position: relative;
    top: 110px;
    left: 250px;
}

#squal {
    position: relative;
    left: 960px;
    top: 100px;



    padding: 6px 70px;
    border: 18px solid transparent;

}






















div{margin: 0}
body>header{
    height: 70px;
    width: 100%;
    position: fixed;
    border: 1px solid black;
    background: rgba(67, 62, 62, 1);
    top: 0;
    z-index: 1;

}
header>div>img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10px;
}

header>nav {

    height: fit-content;
    position: absolute;
    right: 400px;
    top: 0;
    bottom: 0;

    margin: auto;



}
.navbar a:hover{
    color: #B329B5;

}
#hireme{
    background:
            linear-gradient(#676464, #5a5654) padding-box,
            linear-gradient(60deg, #135DEC, #8914C0, #7C0B86) border-box;
    color: #ffffff;
    padding: 6px 40px;
    border: 3px solid transparent;
    border-radius: 40px;

}
header>nav>ul {
    list-style: none;
}

header>nav>ul>li {
    display: inline;
    margin: 0px 15px;

}
header>nav>ul>li>a{
    color: white;
    text-decoration: none;
}
header>nav>ul>li>a>img{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -300px;

}
header>nav>ul>li>a>button{
    position: absolute;
    border-radius: 12px;
    right: -300px;
    background-color: rgba(67, 62, 62, 1);
    color: #958a8a;
    border: 1px solid #b5b3b3;
}

body>main#main1>section>h1{
    font-family: 'Train One';font-size: 200px;
    background: #0E0E0E;
    background: linear-gradient(to right, #0E0E0E 0%, #392020 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
body>main#main1>section>h3{
    font-family: Inter;
    font-size: 70px;
    background: #5C5C5C;
    background: linear-gradient(to right, #5C5C5C 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 270px;
    left: 10px;

}
body>main#main1>section>h4{
    background: #B329B5;
    background: linear-gradient(to right, #B329B5 0%, #801D82 50%, #4E124F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 28px;
    position: absolute;
    top: 380px;
    left: 100px;

}
body>main#main1>section>p{
    color: white;
    width: 800px;
    font-family: Inter;
    font-size: 15px;
    position: absolute;
    top: 460px;
    left: 23px;

}
body>main>section:last-child{
    height: 50px;
    width: 100%;
    position: absolute;

    background: rgba(67, 62, 62, 1);
    bottom: -50px;
    z-index: 1;


}





