
*{
    padding: 0;
    margin: 0;
       box-sizing: border-box;


}
a{
    text-decoration: none;
    color: black;
}
img{
    display: block;
}

li{
    list-style: none;
}
button{
    border: none;
    background: none;
}

/*header section css*/
header{
      position: fixed;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      z-index: 9;
      width: 100%;
      height: 80px;
      margin: 0;
      backdrop-filter: blur(1000px);
  }

.header-nav{
    width: 100%;
    position: fixed;
    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem /* 20px */;
    padding-top: 0.75rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}
@media (min-width: 1024px) {
    .header-nav{
        padding-left: 2rem /* 32px */;
        padding-right: 2rem /* 32px */;
    }
}
@media (min-width: 1280px) {
    .header-nav{
        padding-left: 8%;
        padding-right: 8%;
    }
}
.logo{
    width:52px ;
    cursor: pointer;
    margin-right: 100px;
}

.custom-ul {
    display: none;
}


@media (min-width: 768px) {
    .custom-ul {
        display: flex;
        align-items: center;
        gap: 1.5rem; /* Equivalent to gap-6 */
        padding-left: 3rem; /* Equivalent to px-12 */
        padding-right: 3rem;
        padding-top: 0.75rem; /* Equivalent to py-3 */
        padding-bottom: 0.75rem;
        background-color: rgba(255, 255, 255, 0.5); /* bg-opacity-50 */
        border-radius: 9999px; /* Equivalent to rounded-full */
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
    }
}

@media (min-width: 1024px) {
    .custom-ul {
        gap: 2rem; /* Equivalent to lg:gap-8 */
    }
}
.moon-contact{
    display: flex;
    align-items: center;
    gap: 1rem /* 16px */;
}

.moon{
    width: 1.5rem /* 24px */;
}
.header-a1{
    display: none;
    align-items: center;
    gap: 0.75rem /* 12px */;
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
    padding-top: 0.625rem /* 10px */;
    padding-bottom: 0.625rem /* 10px */;
    border-width: 2px;
    background: #008bbf;
    color: white;
    font-weight: 400;
    border-radius:10px;
    margin-left: 30px;
}
@media (min-width: 1024px) {
    .header-a1{
        display: flex;
    }
}


.menu-button {
    display: block;
    margin-left: 0.75rem; /* Equivalent to ml-3 */
}


@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
    .logo{
        width:70px ;

    }
}
.menu{
    width: 1.5rem /* 24px */;

}
/* Mobile Menu Styles */
.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 2.5rem;
    position: fixed;
    right: -16rem;
    top: 0;
    bottom: 0;
    width: 16rem;
    z-index: 50;
    height: 100vh;
    background-color: #fef2f2;
    transition: right 0.5s;
}

/* Close Button Styles */
.close-button {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    cursor: pointer;
}

.close-icon {
    width: 1.25rem;
}

/* Show menu when active */
.mobile-menu.active {
    right: 0;
}

/* Menu Link Styles */
.mobile-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
}



.hero{
    width: 91.666667%;
    max-width: 48rem /* 768px */;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px/* 8px */;

}

.hero-pic{
    width: 200px;
    height: 200px;

    border-radius: 100%;
    overflow: hidden;

    box-shadow: 3px 7px 25px rgba(0, 0, 0, 0.5);

    background-color: white;

    border: 2px solid transparent;
    z-index: -10;
}
.hero-pic img{
    width: 100%;
    height: 100%;


}
.hero-h2{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem /* 8px */;

    font-size: 1.25rem /* 20px */;
    line-height: 1rem /* 28px */;
    font-size: 30px /* 24px */;
    line-height: 1 /* 32px */;
    margin-bottom: 0.75rem /* 12px */;
    margin-top: 0.75rem;
    color: #008bbf;


}




.social i{
    color: #9cdc92;
    font-size: 22px;
    margin-right: 10px;
    transition: 0.5s;
}
.social i:hover{
    color: #007ced;
    transform: rotate(360deg);
}


.hero-h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem /* 24px */;
    line-height: 1 /* 32px */;
    color: #0b2550;
    margin-top: -10px;

}
@media (min-width: 640px) {
    .hero-h1 {
        font-size: 3rem /* 60px */;
        line-height:0.96;

    }

}
.hero-p{
    margin-top: -15px;
    max-width: 60rem /* 672px */;
    margin-left: auto;
    margin-right: auto;
}
.hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem /* 16px */;
    margin-top: 1rem /* 16px */;
}
@media (min-width: 640px) {
    .hero-div{
        flex-direction: row;



    }
}

.hero-button-hire{
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
    padding-top: 0.75rem /* 12px */;
    padding-bottom: 0.75rem /* 12px */;
    border-width: 1px;
    border-radius: 10px;
    background-color: #008bbf;
    display: flex;
    color: white;
    font-weight: 100;
    align-items: center;
    gap: 0.5rem /* 8px */;
    border: 2px solid #ffffff;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);

}
.hero-cv{
    padding-left: 2.5rem /* 40px */;
    padding-right: 2.5rem /* 40px */;
    padding-top: 0.75rem /* 12px */;
    padding-bottom: 0.75rem /* 12px */;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem /* 8px */;
    background-color: #ffffff;
    border: 2px solid #008bbf;


}
.download-icon{
    width: 30px;
}




/* about */



.about-container {
    width: 100%;
    padding: 3rem 12%;


}

.heading-secondary {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

.heading-primary {
    text-align: center;
    font-size: 3rem;
}

.about-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
}

@media(min-width: 1024px) {
    .about-flex {
        flex-direction: column;
    }
    .about-image {
       display: none;


    }

}
@media(min-width: 1276px) {

    .about-image {
        display: flex;
    }
    .about-flex {
        flex-direction: row;
    }


}

.image-container {
    max-width: 100%;
    position: relative;
}

.about-image {
    width: 30rem;
    max-width: 100%;
    border-radius: 1.5rem;
    margin: 0;
}

.about-text {
    flex: 1;
}

.about-text p {
    margin-bottom: 2.5rem;
    max-width: 45rem;
    line-height: 1.6;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 45rem;
}

@media(min-width: 768px) {
    .about-list {
        grid-template-columns: 1fr 1fr ;
    }
}

@media(min-width: 425px) {
    .about-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 1024px) {
    .about-list {
        grid-template-columns: 1fr 1fr 1fr ;
    }
}


.about-list-item {
    border: 0.5px solid #ccc;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.about-list-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color:white ;

}

.list-icon {
    width: 1.75rem;
    margin-top: 1.5rem;

}
img.list-icon {
    display: block;
    width: 1.75rem;
    margin: 0.75rem auto 0; /* centers the icon horizontally */
}

.about-list-item h3 {
    margin-top: 1.3rem;
    font-weight: 600;
    color: #333;
}

.about-list-item p {
    color: #666;
    font-size: 1rem;
    margin-top: 1.3rem;
    font-weight: 300;
}

.tools-heading {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    color: #555;
}

.tools-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media(min-width: 640px) {
    .tools-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(min-width: 1024px) {
    .tools-list {
        grid-template-columns: repeat(12, 1fr);
    }
}

.tool-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.tool-item:hover {
    transform: translateY(-0.25rem);
}

.tool-item img {
    width: 1.25rem;
}

/* Service Section */
.service-container {
    width: 100%;
    padding: 2.5rem 12%;
}

.title-small {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

.title-large {
    text-align: center;
    font-size: 3rem;
}

.description {
    text-align: center;
    max-width: 640px;
    margin: 1.25rem auto 3rem;
    font-size: 1rem;
    color: #666;
}

/* Grid layout */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

/* Service Item */
.service-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.service-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color:white ;

}

.service-icon {
    width: 40px;
}

.service-title {
    font-size: 1.125rem;
    margin: 1rem 0;
    color: #444;
}

.service-description {
    font-size: 0.875rem;
    color: #666;
    line-height: 1.5;
}


/*work*/

/*assignment*/

/* Work Section */
.work-container {
    width: 100%;
    padding: 2.5rem 12%;
}

.section-title-small {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

.section-title-large {
    text-align: center;
    font-size: 3rem;
}

.section-description {
    text-align: center;
    max-width: 640px;
    margin: 1.25rem auto 3rem;
    font-size: 1rem;
    color: #666;
}

/* Grid layout */
.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

/* Project Item */
.project-item {
    border: 1px solid #ccc;
    background: #ffffff;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 0;
    padding-bottom: 100%; /* For square aspect ratio */
}

.project-details {

    transition: transform 0.5s ease;
    width: 85%;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.project-item:hover .project-details {
    bottom: 38px;
}

.project-title {
    font-weight: bold;
    font-size: 1.15rem;
    margin-bottom: 0;
}





.project-item:hover .project-icon {
    background-color: #0e0c0b;
    transition: background-color 0.3s ease-in-out;
}

.assignment-img{
    display: inline-block;
margin-top: 30px;
    margin-left: 5px;
    width: 95%;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 8px;
}
/*work*/

.div2 {

    background-size: 100%;
    background-position: top ;



    background-repeat: no-repeat;
}
#img1{
    background-image: url(../assets/image/project/project01.png);
}
#img2{
    background-image: url(../assets/image/project/project-02.jpg);
}
#img3{
    background-image: url(../assets/image/project/project03.jpg);
}
#img4{
    background-image: url(../assets/image/project/project-04.jpg);
}
#img5{
    background-image: url(../assets/image/project/project05.jpg);
}
.work-container {
    width: 100%;



}

.text-center {
    text-align: center;
}

.title-lg {
    margin-bottom: 8px;
    font-size: 1.125rem;
}

.title-xl {
    font-size: 3rem;
}

.text-description {
    margin-top: 20px;
    margin-bottom: 48px;
    max-width: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);


}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project {
    position: relative;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
}  .project {
       position: relative;
       height: 300px;
       background-size: cover;
       background-position: center;
       border-radius: 10px;
       cursor: pointer;
       overflow: hidden;
   }

.project-info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom 0.5s ease;
}

.project:hover .project-info {
    bottom: 25px;
}

.project-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.project-type {
    color: #777;
}

.icon-container {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0 #000;
    transition: background-color 0.3s ease;
}

.project:hover .icon-container {
    background-color: #c1c3b9;
    border: 1px solid #ccc;
}

.project-icon {
    width: 20px;
}

/* Background Image Styling */
.div2 {

    background-image: url(../assets/image/project/project01.png);
    background-size: 100%;
    background-position: top ;



    background-repeat: no-repeat;
}



/*contact*/


.new_contact_area {
    background: #ffffff;
    margin-top: 5%;
}

.new_contact_top {
    padding: 0px 0px 100px;
    position: relative;
    overflow-x: hidden;
}

.new_contact_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_contact_top .f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    background: #ebeef5;
    text-align: center;
    display: inline-block;
    margin-left: 4px;
    transition: all 0.2s linear;
}

.new_contact_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}

.new_contact_top .contact_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat center;
    width: 100%;
    height: 266px;
}

.new_contact_top .contact_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    animation: myfirst 22s linear infinite;
}

.new_contact_top .contact_bg_two{
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    animation: myfirst 30s linear infinite;
}

@keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

/* Contact Form Styling */
#contact {
    background-color: #ffffff;
}

#contact h4, #contact h2 {
    text-align: center;
}

#contact h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

#contact h2 {
    font-size: 40px;
}

#contact p {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

form {
    max-width: 800px;
    margin: 40px auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-contact {
    display: block;
    background-color: #008bbf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    transition: background-color 0.3s;
}

.button-contact:hover {
    background-color: #333;
}
/*footer*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}



button.toggle-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: #333;
}

body.light-mode button.toggle-btn {
    background-color: #008bbf;
    color: white;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f1f1f1;
    .animation-bg{

    }
    .new_contact_area{
        background-color: #1e1e1e;
    }

    #contact {
        background-color: #1e1e1e;
    }
    .hero-h1{
        color: white;
    }
    .hero-p{
        color: #a6a6a6;
    }
    .heading-primary,.project-title,#contact-me{
        color: white;
    }
    .about-text,.title-large,.section-title-large{
        color: #c1c1c1;
    }
   .about-list-item,.service-item{
       background: white;
   }
    .project-title{
        color: #959595;
    }
}

body.dark-mode button.toggle-btn {
    background-color: #666;
    color: white;
}

/* Content styles */
.content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}








label{
    width: 55px;
    height: 32px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgb(0,0,0,0.4),inset 0px -5px 15px rgb(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;

}
label:after{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 6px;
    left: 6px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.2);


}
.input-mode{
    width: 0;
    height: 0;
    visibility:hidden ;
}
.input-mode:checked + label{
    background: black;
}
.input-mode:checked + label:after{
    left:45px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777, #008bbf);
}




label:active:after{
    width: 25px;
}











